@import "@fontsource-variable/quicksand";
@import "tailwindcss";

@theme {
  --color-sea-green: #5fc193;
  --color-light-green: #a5d6a7;
  --color-tree-green: #284c44;

  --font-quicksand: "Quicksand Variable", sans-serif;
}

body {
  background-color: #333333;
}
